{
    "presets":[
        "@babel/preset-env",
        "@babel/preset-react"
    ],
    "plugins": [
        "@babel/plugin-proposal-class-properties",
        // "@babel/plugin-transform-runtime",
        ["import", {
            "style": "../styles",
            "libraryDirectory": "", // default is lib
            "libraryName": "material-ui"
        }]
    ]
}